@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Oswald", sans-serif;
  letter-spacing: 1px;
}

button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

:root {
  --primary: black;
  --primaryAlfa: rgba(0, 0, 0, 0.6);
  --secondary: white;
  --secondaryAlfa: rgba(255, 255, 255, 0.6);
}

body.light {
  --primary: white;
  --primaryAlfa: rgba(255, 255, 255, 0.6);
  --secondary: black;
  --secondaryAlfa: rgba(0, 0, 0, 0.6);
}

.title--page {
  color: var(--secondary);
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.title--name {
  color: var(--secondary);
  font-size: 25px;
  font-weight: 300;
}
.title--subpage {
  color: var(--secondary);
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 10px;
}
@media screen and (min-width: 425px) {
  .title .title--page {
    font-size: 40px;
  }
  .title .title--name {
    font-size: 35px;
  }
  .title .title--subpage {
    font-size: 35px;
  }
}

.text {
  color: var(--secondary);
  font-size: 12px;
  width: 70%;
  text-align: left;
  font-weight: 300;
}
@media screen and (min-width: 425px) {
  .text {
    font-size: 16px;
  }
}

.link--github {
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--secondary);
}
.link--github:hover {
  color: var(--secondaryAlfa);
}
@media screen and (min-width: 425px) {
  .link--github {
    font-size: 18px;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOutAndIn {
  0% {
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
  55% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeOutAndIn {
  animation: fadeOutAndIn 0.4s linear forwards;
}

.fadeOut {
  animation: fadeOut 0.2s linear forwards;
}

.fadeIn {
  animation: fadeIn 0.2s linear forwards;
  animation-delay: 0.2s;
}

body {
  background-color: var(--primary);
}

.app {
  width: 100%;
  height: 100%;
  border: 1px solid var(--secondary);
  z-index: 9;
}
.app__wrapper {
  display: none;
  width: 100vw;
  height: 100vh;
  padding: 5px;
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 1024px) {
  .app__wrapper {
    padding: 10px;
  }
}
.app__locale {
  z-index: 10;
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: var(--primary);
  border-bottom: 1px solid var(--secondary);
  border-left: 1px solid var(--secondary);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4px;
  padding-left: 4px;
  padding-bottom: 4px;
}
@media screen and (min-width: 1024px) {
  .app__locale {
    top: 10px;
    right: 10px;
  }
}
.app__theme {
  z-index: 10;
  position: absolute;
  top: calc(100% - 5px);
  left: calc(100% - 5px);
  transform-origin: top left;
  transform: rotate(270deg) translateY(-100%);
  background-color: var(--primary);
  border-top: 1px solid var(--secondary);
  border-right: 1px solid var(--secondary);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  padding-right: 4px;
  padding-bottom: 4px;
}
@media screen and (min-width: 1024px) {
  .app__theme {
    top: calc(100% - 10px);
    left: calc(100% - 10px);
  }
}
.app__background {
  position: absolute;
  top: 5px;
  left: 5px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  z-index: -1;
}
.app__background_inner {
  width: 100%;
  height: 100%;
  position: relative;
}
.app__background_image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 20%, rgba(0, 0, 0, 0.8) 40%), url("http://wisnies.github.io/portfolio/assets/bg-sm.jpg") center/cover no-repeat;
  filter: grayscale(1);
}
@media screen and (min-width: 768px) {
  .app__background_image {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 20%, rgba(0, 0, 0, 0.8) 40%), url("http://wisnies.github.io/portfolio/assets/bg-md.jpg") center/cover no-repeat;
  }
}
@media screen and (min-width: 1440px) {
  .app__background_image {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 20%, rgba(0, 0, 0, 0.8) 40%), url("http://wisnies.github.io/portfolio/assets/bg-lg.jpg") center/cover no-repeat;
  }
}
@media screen and (min-width: 1024px) {
  .app__background {
    top: 10px;
    left: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
  }
}
.app__background_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(50, 1fr);
}
.app__background_overlay .strip {
  height: 100%;
  width: 100%;
  display: flex;
  border-bottom: 2px solid var(--primary);
}
.app__background_overlay .strip__inner {
  background-color: var(--primary);
  height: 100%;
  width: 100%;
}
.app__background_overlay .strip__fill {
  height: 100%;
  flex-grow: 1;
  background-color: var(--primary);
}
.app__background_overlay .strip-2 .strip__inner {
  margin-left: auto;
  width: 50%;
  background-color: transparent;
  background: linear-gradient(to right, var(--primary) 0%, transparent 50%, var(--primary) 70%, var(--primary) 100%) !important;
}
.app__background_overlay .strip-3 .strip__inner {
  margin-left: auto;
  width: 24%;
  background-color: transparent;
  background: linear-gradient(to right, var(--primary) 0%, transparent 50%, var(--primary) 70%, var(--primary) 100%) !important;
}
.app__background_overlay .strip-4 .strip__inner {
  margin-left: auto;
  width: 26%;
  background-color: transparent;
  background: linear-gradient(to right, var(--primary) 0%, transparent 50%, var(--primary) 70%, var(--primary) 100%) !important;
}
.app__background_overlay .strip-5 .strip__inner {
  margin-left: auto;
  width: 28%;
  background-color: transparent;
  background: linear-gradient(to right, var(--primary) 0%, transparent 50%, var(--primary) 70%, var(--primary) 100%) !important;
}
.app__background_overlay .strip-6 .strip__inner {
  margin-left: auto;
  width: 56%;
  background-color: transparent;
  background: linear-gradient(to right, var(--primary) 0%, transparent 50%, var(--primary) 70%, var(--primary) 100%) !important;
}
.app__background_overlay .strip-7 .strip__inner {
  margin-left: auto;
  width: 44%;
  background-color: transparent;
  background: linear-gradient(to right, var(--primary) 0%, transparent 50%, var(--primary) 70%, var(--primary) 100%) !important;
}
.app__background_overlay .strip-8 .strip__inner {
  margin-left: auto;
  width: 30%;
  background-color: transparent;
  background: linear-gradient(to right, var(--primary) 0%, transparent 20%, var(--primary) 80%, var(--primary) 100%) !important;
}
.app__background_overlay .strip-9 .strip__inner {
  margin-left: auto;
  width: 60%;
  background-color: transparent;
  background: linear-gradient(to right, var(--primary) 0%, transparent 43%, var(--primary) 70%, var(--primary) 100%) !important;
}
.app__background_overlay .strip-10 .strip__inner {
  margin-left: auto;
  width: 45%;
  background-color: transparent;
  background: linear-gradient(to right, var(--primary) 0%, transparent 40%, var(--primary) 90%, var(--primary) 100%) !important;
}
.app__background_overlay .strip-11 .strip__inner {
  margin-left: auto;
  width: 54%;
  background-color: transparent;
  background: linear-gradient(to right, var(--primary) 0%, transparent 60%, var(--primary) 90%, var(--primary) 100%) !important;
}
.app__background_overlay .strip-12 .strip__inner {
  margin-left: auto;
  width: 28%;
  background-color: transparent;
  background: linear-gradient(to right, var(--primary) 0%, transparent 88%, var(--primary) 90%, var(--primary) 100%) !important;
}
.app__background_overlay .strip-13 .strip__inner {
  margin-left: auto;
  width: 53%;
  background-color: transparent;
  background: linear-gradient(to right, var(--primary) 0%, transparent 40%, var(--primary) 90%, var(--primary) 100%) !important;
}
.app__background_overlay .strip-14 .strip__inner {
  margin-left: auto;
  width: 77%;
  background-color: transparent;
  background: linear-gradient(to right, var(--primary) 0%, transparent 28%, var(--primary) 90%, var(--primary) 100%) !important;
}
.app__background_overlay .strip-15 .strip__inner {
  margin-left: auto;
  width: 30%;
  background-color: transparent;
  background: linear-gradient(to right, var(--primary) 0%, transparent 46%, var(--primary) 90%, var(--primary) 100%) !important;
}
.app__background_overlay .strip-16 .strip__inner {
  margin-left: auto;
  width: 50%;
  background-color: transparent;
  background: linear-gradient(to right, var(--primary) 0%, transparent 40%, var(--primary) 90%, var(--primary) 100%) !important;
}
.app__background_overlay .strip-17 .strip__inner {
  margin-left: auto;
  width: 40%;
  background-color: transparent;
  background: linear-gradient(to right, var(--primary) 0%, transparent 40%, var(--primary) 90%, var(--primary) 100%) !important;
}
.app__background_overlay .strip-18 .strip__inner {
  margin-left: auto;
  width: 50%;
  background-color: transparent;
  background: linear-gradient(to right, var(--primary) 0%, transparent 40%, var(--primary) 90%, var(--primary) 100%) !important;
}
.app__background_overlay .strip-19 .strip__inner {
  margin-left: auto;
  width: 60%;
  background-color: transparent;
  background: linear-gradient(to right, var(--primary) 0%, transparent 40%, var(--primary) 72%, var(--primary) 100%) !important;
}
.app__background_overlay .strip-20 .strip__inner {
  margin-left: auto;
  width: 70%;
  background-color: transparent;
  background: linear-gradient(to right, var(--primary) 0%, transparent 30%, var(--primary) 80%, var(--primary) 100%) !important;
}
.app__background_overlay .strip-21 .strip__inner {
  margin-left: auto;
  width: 80%;
  background-color: transparent;
  background: linear-gradient(to right, var(--primary) 0%, transparent 50%, var(--primary) 95%, var(--primary) 100%) !important;
}
.app__background_overlay .strip-22 .strip__inner {
  margin-left: auto;
  width: 70%;
  background-color: transparent;
  background: linear-gradient(to right, var(--primary) 0%, transparent 40%, var(--primary) 90%, var(--primary) 100%) !important;
}
.app__background_overlay .strip-23 .strip__inner {
  margin-left: auto;
  width: 60%;
  background-color: transparent;
  background: linear-gradient(to right, var(--primary) 0%, transparent 30%, var(--primary) 80%, var(--primary) 100%) !important;
}
.app__background_overlay .strip-24 .strip__inner {
  margin-left: auto;
  width: 50%;
  background-color: transparent;
  background: linear-gradient(to right, var(--primary) 0%, transparent 20%, var(--primary) 70%, var(--primary) 100%) !important;
}
.app__background_overlay .strip-25 .strip__inner {
  margin-left: auto;
  width: 80%;
  background-color: transparent;
  background: linear-gradient(to right, var(--primary) 0%, transparent 50%, var(--primary) 95%, var(--primary) 100%) !important;
}
.app__background_overlay .strip-26 .strip__inner {
  margin-left: auto;
  width: 70%;
  background-color: transparent;
  background: linear-gradient(to right, var(--primary) 0%, transparent 40%, var(--primary) 90%, var(--primary) 100%) !important;
}
.app__background_overlay .strip-27 .strip__inner {
  margin-left: auto;
  width: 60%;
  background-color: transparent;
  background: linear-gradient(to right, var(--primary) 0%, transparent 30%, var(--primary) 80%, var(--primary) 100%) !important;
}
.app__background_overlay .strip-28 .strip__inner {
  margin-left: auto;
  width: 50%;
  background-color: transparent;
  background: linear-gradient(to right, var(--primary) 0%, transparent 20%, var(--primary) 70%, var(--primary) 100%) !important;
}
.app__background_overlay .strip-29 .strip__inner {
  margin-left: auto;
  width: 66%;
  background-color: transparent;
  background: linear-gradient(to right, var(--primary) 0%, transparent 28%, var(--primary) 50%, var(--primary) 100%) !important;
}
.app__background_overlay .strip-30 .strip__inner {
  margin-left: auto;
  width: 77%;
  background-color: transparent;
  background: linear-gradient(to right, var(--primary) 0%, transparent 40%, var(--primary) 90%, var(--primary) 100%) !important;
}
.app__background_overlay .strip-31 .strip__inner {
  margin-left: auto;
  width: 55%;
  background-color: transparent;
  background: linear-gradient(to right, var(--primary) 0%, transparent 70%, var(--primary) 96%, var(--primary) 100%) !important;
}
.app__background_overlay .strip-32 .strip__inner {
  margin-left: auto;
  width: 59%;
  background-color: transparent;
  background: linear-gradient(to right, var(--primary) 0%, transparent 62%, var(--primary) 90%, var(--primary) 100%) !important;
}
.app__background_overlay .strip-33 .strip__inner {
  margin-left: auto;
  width: 90%;
  background-color: transparent;
  background: linear-gradient(to right, var(--primary) 0%, transparent 20%, var(--primary) 50%, var(--primary) 100%) !important;
}
.app__background_overlay .strip-34 .strip__inner {
  margin-left: auto;
  width: 90%;
  background-color: transparent;
  background: linear-gradient(to right, var(--primary) 0%, transparent 10%, var(--primary) 60%, var(--primary) 100%) !important;
}
.app__background_overlay .strip-35 .strip__inner {
  margin-left: auto;
  width: 70%;
  background-color: transparent;
  background: linear-gradient(to right, var(--primary) 0%, transparent 20%, var(--primary) 50%, var(--primary) 100%) !important;
}
.app__background_overlay .strip-36 .strip__inner {
  margin-left: auto;
  width: 77%;
  background-color: transparent;
  background: linear-gradient(to right, var(--primary) 0%, transparent 10%, var(--primary) 60%, var(--primary) 100%) !important;
}
.app__background_overlay .strip-37 .strip__inner {
  margin-left: auto;
  width: 60%;
  background-color: transparent;
  background: linear-gradient(to right, var(--primary) 0%, transparent 20%, var(--primary) 50%, var(--primary) 100%) !important;
}
.app__background_overlay .strip-38 .strip__inner {
  margin-left: auto;
  width: 40%;
  background-color: transparent;
  background: linear-gradient(to right, var(--primary) 0%, transparent 10%, var(--primary) 60%, var(--primary) 100%) !important;
}
.app__background_overlay .strip-37 .strip__inner {
  margin-left: auto;
  width: 60%;
  background-color: transparent;
  background: linear-gradient(to right, var(--primary) 0%, transparent 20%, var(--primary) 50%, var(--primary) 100%) !important;
}
.app__background_overlay .strip-38 .strip__inner {
  margin-left: auto;
  width: 40%;
  background-color: transparent;
  background: linear-gradient(to right, var(--primary) 0%, transparent 10%, var(--primary) 60%, var(--primary) 100%) !important;
}
.app__background_overlay--about .strip--bottom .strip__inner, .app__background_overlay--projects .strip--bottom .strip__inner {
  display: none;
}
@media screen and (min-width: 1024px) {
  .app__background_overlay--about .strip--bottom .strip__inner, .app__background_overlay--projects .strip--bottom .strip__inner {
    display: initial;
  }
}
.app__background_overlay--projects .strip--middle .strip__inner {
  display: none;
}
@media screen and (min-width: 1024px) {
  .app__background_overlay--projects .strip--middle .strip__inner {
    display: initial;
  }
}

.locale__btn {
  position: relative;
  width: 40px;
  height: 20px;
}
.locale__btn_overlay {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--secondaryAlfa);
  opacity: 0;
  pointer-events: none;
}
.locale__btn_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border: 1px solid black;
  pointer-events: none;
}
.locale__btn.active {
  cursor: default !important;
}
.locale__btn.active .locale__btn_overlay {
  opacity: 1;
}
.locale__btn:hover .locale__btn_overlay {
  opacity: 1;
}

.theme__btn {
  display: flex;
  align-items: center;
  height: 20px;
}
.theme__btn_box {
  height: 18px;
  width: 18px;
  border: 1px solid var(--secondary);
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.theme__btn_text {
  color: var(--secondary);
  pointer-events: none;
}
.theme__btn.active .theme__btn_box::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background-color: var(--secondary);
}

.header {
  color: var(--secondary);
  width: fit-content;
  padding: 20px 0 0 5px;
  z-index: 9 !important;
}
@media screen and (min-width: 425px) {
  .header h1 {
    font-size: 40px;
  }
  .header h2 {
    font-size: 35px;
  }
}

.nav {
  width: fit-content;
}
.nav__list_item {
  font-size: 12px;
  font-weight: 300;
  height: 30px;
  display: flex;
  align-items: flex-end;
  text-transform: uppercase;
  cursor: pointer;
}
.nav__list_item.active {
  font-size: 16px;
  font-weight: 500;
}
.nav__list_item:hover {
  color: var(--secondaryAlfa);
}
@media screen and (min-width: 425px) {
  .nav__list_item {
    height: 40px;
    font-size: 16px;
  }
  .nav__list_item.active {
    font-size: 20px;
  }
}

.page {
  position: absolute;
  bottom: 5px;
  left: 5px;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  width: calc(100% - 10px);
  max-width: 768px;
  height: 60%;
  display: flex;
  padding: 0 30px 5px 5px;
}
@media screen and (min-width: 1024px) {
  .page {
    padding: 0 0 10px 10px;
    bottom: 10px;
    left: 10px;
  }
}
.page.active {
  animation: fadeIn 0.2s linear forwards;
  animation-delay: 0.2s;
  pointer-events: all;
}
.page--home {
  align-items: flex-end;
}
@media screen and (min-width: 768px) {
  .page--home {
    padding-bottom: 140px;
  }
}
.page--about, .page--contact {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
@media screen and (min-width: 768px) {
  .page--about, .page--contact {
    padding-bottom: 70px;
  }
}
.page--projects {
  align-items: flex-end;
}

.tag {
  background-color: var(--secondary);
  color: var(--primary);
  font-size: 12px;
  font-weight: 500;
  padding: 2px 12px;
  margin-right: 5px;
  margin-top: 5px;
}
.tag__container {
  display: flex;
  flex-wrap: wrap;
}

.copy__container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}
.copy__link {
  display: block;
  font-size: 10px;
  font-size: 10px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--secondary);
  margin-left: 3px;
}
@media screen and (min-width: 425px) {
  .copy__link {
    margin-left: 4px;
    font-size: 16px;
  }
}
.copy__btn {
  flex-shrink: 0;
  margin-right: 0px;
  width: 26px !important;
  height: 26px !important;
  background-color: white;
  border: 1px solid var(--secondary);
  position: relative;
}
.copy__btn img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  pointer-events: none;
}

.project {
  flex-basis: 20%;
  width: 100%;
  flex-shrink: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  user-select: none;
}
.project__title {
  font-size: 18px;
  text-decoration: none;
  color: var(--secondary);
}
@media screen and (min-width: 425px) {
  .project__title {
    font-size: 27px;
  }
}
.project__title_year {
  font-size: 12px;
  color: var(--secondaryAlfa);
  display: flex;
  user-select: none;
}
@media screen and (min-width: 425px) {
  .project__title_year {
    font-size: 18px;
  }
}
.project__title_container {
  width: 100%;
  margin-bottom: 5px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid var(--secondaryAlfa);
}
.project__link {
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 300;
  color: var(--secondary);
}
@media screen and (min-width: 425px) {
  .project__link {
    font-size: 16px;
  }
}
.project__carousel {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}
.project__carousel_container {
  width: 100%;
  max-width: 425px;
  height: 350px;
  margin-right: auto;
  color: white;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .project__carousel_container {
    height: 500px;
  }
}
.project__carousel_slider {
  display: flex;
  flex-direction: column;
  height: 500%;
  width: 100%;
  flex-shrink: 0;
  transition: all 0.5s ease;
}
.project__carousel_btn {
  color: var(--secondary);
  position: absolute;
  left: 0px;
  cursor: pointer;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.project__carousel_btn--prev {
  top: 10px;
}
.project__carousel_btn--next {
  bottom: 10px;
}

/*# sourceMappingURL=styles.css.map */
