@mixin displayCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin responsive($breakpoint, $direction) {
  @if $direction == 'min' {
    @media screen and (min-width: $breakpoint) {
      @content;
    }
  } @else {
    @media screen and (max-width: calc($breakpoint - 1px)) {
      @content;
    }
  }
}

@mixin paintRow($start, $end) {
  @for $i from $start to $end {
    .col-#{$i} {
      background-color: transparent !important;
      border: 1px solid $primary;
    }
  }
}

@mixin stripInner($width, $start, $stop) {
  .strip__inner {
    margin-left: auto;
    width: $width;
    background-color: transparent;
    background: linear-gradient(
      to right,
      $primary 0%,
      transparent $start,
      $primary $stop,
      $primary 100%
    ) !important;
  }
}
