@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&display=swap');

@import './partials/globals';
@import './partials/colors';
@import './partials/mixins';
@import './partials/sizes';
@import './partials/typography';
@import './partials/animations';

body {
  background-color: $primary;
}

.app {
  width: 100%;
  height: 100%;
  border: 1px solid $secondary;
  z-index: 9;

  &__wrapper {
    display: none;
    width: 100vw;
    height: 100vh;
    padding: 5px;
    position: relative;
    overflow: hidden;

    @include responsive($laptop, 'min') {
      padding: 10px;
    }
  }
  &__locale {
    z-index: 10;
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: $primary;
    border-bottom: 1px solid $secondary;
    border-left: 1px solid $secondary;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4px;
    padding-left: 4px;
    padding-bottom: 4px;
    @include responsive($laptop, 'min') {
      top: 10px;
      right: 10px;
    }
  }
  &__theme {
    z-index: 10;
    position: absolute;
    top: calc(100% - 5px);
    left: calc(100% - 5px);
    transform-origin: top left;
    transform: rotate(270deg) translateY(-100%);
    background-color: $primary;
    border-top: 1px solid $secondary;
    border-right: 1px solid $secondary;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding-right: 4px;
    padding-bottom: 4px;
    @include responsive($laptop, 'min') {
      top: calc(100% - 10px);
      left: calc(100% - 10px);
    }
  }
  &__background {
    position: absolute;
    top: 5px;
    left: 5px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    z-index: -1;
    &_inner {
      width: 100%;
      height: 100%;
      position: relative;
    }
    &_image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.8),
          rgba(0, 0, 0, 0.8)
        ),
        url('/public/assets/bg-sm.jpg') center/cover no-repeat;
      filter: grayscale(1);
      @include responsive($tablet, 'min') {
        background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.8)
          ),
          url('/public/assets/bg-md.jpg') center/cover no-repeat;
      }
      @include responsive($laptopL, 'min') {
        background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.8)
          ),
          url('/public/assets/bg-lg.jpg') center/cover no-repeat;
      }
    }

    @include responsive($laptop, 'min') {
      top: 10px;
      left: 10px;
      width: calc(100% - 20px);
      height: calc(100% - 20px);
    }
    &_overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-rows: repeat(48, 1fr);

      @include responsive($laptop, 'min') {
        grid-template-rows: repeat(24, 1fr);
      }

      & .row {
        display: grid;
        grid-template-columns: repeat(24, 1fr);
        & .col-24,
        & .col-25,
        & .col-26,
        & .col-27,
        & .col-28,
        & .col-29,
        & .col-30,
        & .col-31,
        & .col-32,
        & .col-33,
        & .col-34,
        & .col-35,
        & .col-36,
        & .col-37,
        & .col-38,
        & .col-39,
        & .col-40,
        & .col-41,
        & .col-42,
        & .col-43,
        & .col-44,
        & .col-45,
        & .col-46,
        & .col-47 {
          display: none;
        }
        @include responsive($laptop, 'min') {
          grid-template-columns: repeat(48, 1fr);
          &.row-24,
          &.row-25,
          &.row-26,
          &.row-27,
          &.row-28,
          &.row-29,
          &.row-30,
          &.row-31,
          &.row-32,
          &.row-33,
          &.row-34,
          &.row-35,
          &.row-36,
          &.row-37,
          &.row-38,
          &.row-39,
          &.row-40,
          &.row-41,
          &.row-42,
          &.row-43,
          &.row-44,
          &.row-45,
          &.row-46,
          &.row-47 {
            display: none;
          }
          & .col-24,
          & .col-25,
          & .col-26,
          & .col-27,
          & .col-28,
          & .col-29,
          & .col-30,
          & .col-31,
          & .col-32,
          & .col-33,
          & .col-34,
          & .col-35,
          & .col-36,
          & .col-37,
          & .col-38,
          & .col-39,
          & .col-40,
          & .col-41,
          & .col-42,
          & .col-43,
          & .col-44,
          & .col-45,
          & .col-46,
          & .col-47 {
            display: block;
          }
        }
      }

      & .col {
        width: 100%;
        height: 100%;
        background-color: $primary;
        transition: all 0.5s ease;
      }

      &--home,
      &--about,
      &--projects,
      &--contact {
        & .row {
          @include responsive($laptop, 'max') {
            &-0 {
              @include paintRow(10, 12);
            }
            &-1 {
              @include paintRow(8, 10);
              @include paintRow(11, 15);
            }
            &-2 {
              @include paintRow(15, 17);
              @include paintRow(22, 23);
            }
            &-3 {
              @include paintRow(15, 16);
              @include paintRow(20, 23);
            }
            &-4 {
              @include paintRow(15, 17);
              @include paintRow(18, 21);
              @include paintRow(22, 23);
            }
            &-5 {
              @include paintRow(16, 22);
            }
            &-6 {
              @include paintRow(15, 17);
              @include paintRow(18, 23);
            }
            &-7 {
              @include paintRow(15, 17);
              @include paintRow(18, 23);
            }
            &-8 {
              @include paintRow(8, 11);
              @include paintRow(13, 21);
            }
            &-9 {
              @include paintRow(8, 10);
              @include paintRow(12, 23);
            }
            &-10 {
              @include paintRow(9, 22);
            }
            &-11 {
              @include paintRow(7, 17);
              @include paintRow(19, 23);
            }
            &-12 {
              @include paintRow(8, 10);
              @include paintRow(11, 15);
              @include paintRow(16, 22);
            }
            &-13 {
              @include paintRow(8, 10);
              @include paintRow(12, 14);
              @include paintRow(16, 22);
            }
            &-14 {
              @include paintRow(8, 10);
              @include paintRow(11, 15);
              @include paintRow(16, 22);
            }
            &-15 {
              @include paintRow(8, 10);
              @include paintRow(12, 14);
              @include paintRow(16, 22);
            }
            &-16 {
              @include paintRow(8, 10);
              @include paintRow(11, 15);
              @include paintRow(16, 20);
            }
            &-17 {
              @include paintRow(9, 14);
              @include paintRow(16, 22);
            }
            &-18 {
              @include paintRow(6, 10);
              @include paintRow(11, 17);
              @include paintRow(20, 22);
            }
          }
          @include responsive($laptop, 'min') {
            &-0 {
              @include paintRow(20, 27);
            }
            &-1 {
              @include paintRow(18, 28);
              @include paintRow(30, 36);
            }
            &-2 {
              @include paintRow(15, 22);
              @include paintRow(23, 40);
            }
            &-3 {
              @include paintRow(15, 19);
              @include paintRow(22, 38);
            }
            &-4 {
              @include paintRow(8, 20);
              @include paintRow(22, 30);
              @include paintRow(32, 43);
            }
            &-5 {
              @include paintRow(9, 30);
              @include paintRow(38, 45);
            }
            &-6 {
              @include paintRow(10, 22);
              @include paintRow(28, 38);
              @include paintRow(40, 46);
            }
            &-7 {
              @include paintRow(12, 17);
              @include paintRow(18, 23);
              @include paintRow(25, 29);
              @include paintRow(33, 43);
            }
            &-8 {
              @include paintRow(8, 11);
              @include paintRow(13, 21);
              @include paintRow(30, 44);
            }
            &-9 {
              @include paintRow(3, 10);
              @include paintRow(14, 20);
              @include paintRow(24, 44);
            }
            &-10 {
              @include paintRow(9, 22);
              @include paintRow(28, 42);
            }
            &-12 {
              @include paintRow(28, 42);
            }
            &-13 {
              @include paintRow(20, 25);
              @include paintRow(27, 38);
            }
            &-14 {
              @include paintRow(21, 26);
              @include paintRow(27, 42);
            }
            &-15 {
              @include paintRow(30, 40);
            }
            &-16 {
              @include paintRow(27, 41);
            }
            &-17 {
              @include paintRow(28, 40);
            }
            &-18 {
              @include paintRow(29, 42);
            }
            &-19 {
              @include paintRow(30, 43);
            }
            &-21 {
              @include paintRow(30, 39);
            }
            &-22 {
              @include paintRow(24, 43);
            }
          }
        }
      }

      &--home,
      &--about,
      &--contact {
        & .row {
          &-25 {
            @include paintRow(3, 10);
            @include paintRow(12, 15);
          }
          &-26 {
            @include paintRow(4, 20);
          }
          &-27 {
            @include paintRow(2, 8);
            @include paintRow(10, 17);
            @include paintRow(19, 23);
          }
          &-28 {
            @include paintRow(16, 24);
          }
        }
      }
      &--home,
      &--contact {
        & .row {
          &-29 {
            @include paintRow(15, 17);
            @include paintRow(19, 22);
          }
          &-30 {
            @include paintRow(14, 21);
          }
          &-31 {
            @include paintRow(3, 10);
            @include paintRow(12, 15);
          }
          &-32 {
            @include paintRow(3, 10);
            @include paintRow(12, 15);
          }
          &-33 {
            @include paintRow(3, 10);
            @include paintRow(12, 15);
          }
          &-34 {
            @include paintRow(4, 20);
          }
          &-35 {
            @include paintRow(2, 8);
            @include paintRow(10, 17);
            @include paintRow(19, 23);
          }
          &-36 {
            @include paintRow(16, 24);
          }
        }
      }
    }
  }
}

.locale {
  &__btn {
    $btn: &;
    position: relative;
    width: 40px;
    height: 20px;
    &_overlay {
      z-index: 10;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $secondaryAlfa;
      opacity: 0;
      pointer-events: none;
    }
    &_img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border: 1px solid black;
      pointer-events: none;
    }
    &.active {
      cursor: default !important;
      #{$btn}_overlay {
        opacity: 1;
      }
    }
    &:hover {
      #{$btn}_overlay {
        opacity: 1;
      }
    }
  }
}

.theme {
  &__btn {
    $btn: &;
    display: flex;
    align-items: center;
    height: 20px;
    &_box {
      height: 18px;
      width: 18px;
      border: 1px solid $secondary;
      margin-right: 10px;
      @include displayCenter;
    }
    &_text {
      color: $secondary;
      pointer-events: none;
    }
    &.active {
      #{$btn}_box {
        &::before {
          content: '';
          display: block;
          width: 12px;
          height: 12px;
          background-color: $secondary;
        }
      }
    }
  }
}

.header {
  color: $secondary;
  width: fit-content;
  padding: 20px 0 0 5px;
  z-index: 9 !important;

  @include responsive($mobileL, 'min') {
    & h1 {
      font-size: 40px;
    }
    & h2 {
      font-size: 35px;
    }
  }
}

.nav {
  width: fit-content;
  &__list {
    &_item {
      font-size: 12px;
      font-weight: 300;
      height: 30px;
      display: flex;
      align-items: flex-end;
      text-transform: uppercase;
      cursor: pointer;

      &.active {
        font-size: 16px;
        font-weight: 500;
      }

      &:hover {
        color: $secondaryAlfa;
      }

      @include responsive($mobileL, 'min') {
        height: 40px;
        font-size: 16px;
        &.active {
          font-size: 20px;
        }
      }
    }
  }
}

.page {
  position: absolute;
  bottom: 5px;
  left: 5px;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  width: calc(100% - 10px);
  max-width: $tablet;
  height: 60%;
  display: flex;
  padding: 0 30px 5px 5px;
  @include responsive($laptop, 'min') {
    padding: 0 0 10px 10px;
    bottom: 10px;
    left: 10px;
  }

  &.active {
    animation: fadeIn 0.2s linear forwards;
    animation-delay: 0.2s;
    pointer-events: all;
  }

  &--home {
    align-items: flex-end;

    @include responsive($tablet, 'min') {
      padding-bottom: 140px;
    }
  }
  &--about,
  &--contact {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;

    @include responsive($tablet, 'min') {
      padding-bottom: 70px;
    }
  }
  &--projects {
    align-items: flex-end;
  }
}

.tag {
  background-color: $secondary;
  color: $primary;
  font-size: 12px;
  font-weight: 500;
  padding: 2px 12px;
  margin-right: 5px;
  margin-top: 5px;
  &__container {
    display: flex;
    flex-wrap: wrap;
  }
}

.copy {
  &__container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
  }
  &__link {
    display: block;
    font-size: 10px;
    font-size: 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: $secondary;
    margin-left: 3px;
    @include responsive($mobileL, 'min') {
      margin-left: 4px;
      font-size: 16px;
    }
  }
  &__btn {
    flex-shrink: 0;
    margin-right: 0px;
    width: 26px !important;
    height: 26px !important;
    background-color: white;
    border: 1px solid $secondary;
    position: relative;
    & img {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      pointer-events: none;
    }
  }
}

.project {
  flex-basis: 20%;
  width: 100%;
  flex-shrink: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  user-select: none;

  &__title {
    font-size: 18px;
    text-decoration: none;
    color: $secondary;
    @include responsive($mobileL, 'min') {
      font-size: 27px;
    }

    &_year {
      font-size: 12px;
      color: $secondaryAlfa;
      display: flex;
      user-select: none;
      @include responsive($mobileL, 'min') {
        font-size: 18px;
      }
    }

    &_container {
      width: 100%;
      margin-bottom: 5px;
      display: flex;

      align-items: flex-end;
      justify-content: space-between;
      border-bottom: 1px solid $secondaryAlfa;
    }
  }

  &__link {
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 300;
    color: $secondary;

    @include responsive($mobileL, 'min') {
      font-size: 16px;
    }
  }

  &__carousel {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;

    &_container {
      width: 100%;
      max-width: $mobileL;
      height: 350px;
      margin-right: auto;
      color: white;
      overflow: hidden;

      @include responsive($tablet, 'min') {
        height: 500px;
      }
      @include responsive($laptopL, 'min') {
        height: 700px;
      }
    }

    &_slider {
      display: flex;
      flex-direction: column;
      height: 500%;
      width: 100%;
      flex-shrink: 0;
      transition: all 0.5s ease;
    }

    &_btn {
      color: $secondary;
      position: absolute;
      left: 0px;
      cursor: pointer;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 1px;
      &--prev {
        top: 10px;
      }
      &--next {
        bottom: 10px;
      }
    }
  }
}
